*{
    padding:0;
    margin :0;
    text-decoration: none;
    box-sizing: border-box;

}
body{
    font-family: montserrat;

}
nav{
    background-color: rgb(25, 196, 238);
    height: 80px;
    width: 100%;
}
label.cls1{

    color:black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
.checkbtn{
    font-size: 30px;
    color: rgb(253, 251, 251);
    float: right;
    line-height: 80px;
    margin-right: 40 px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.fistdiv{
    
    text-align: center;
    width: 100%;
    font-size: 100%;
    text-overflow:initial ;
}
.dp{
    width: 30%;
    height: 9%;
    border-radius:100% ;
    float: right;
}
.intro{
    position: relative;
    top: 200px;
}
span{
    color:#07F;
}
.btn {
    background: hsl(196, 68%, 53%);
    background-image: -webkit-linear-gradient(top, #34add9, #3076a1);
    background-image: -moz-linear-gradient(top, #34add9, #3076a1);
    background-image: -ms-linear-gradient(top, #34add9, #3076a1);
    background-image: -o-linear-gradient(top, #34add9, #3076a1);
    background-image: linear-gradient(to bottom, #34add9, #3076a1);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .btn2 {
    background: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f5f5f5);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f5f5f5);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f5f5f5);
    background-image: -o-linear-gradient(top, #f5f5f5, #f5f5f5);
    background-image: linear-gradient(to bottom, #f5f5f5, #f5f5f5);
    -webkit-border-radius: 21;
    -moz-border-radius: 21;
    border-radius: 21px;
    font-family: Arial;
    color: #1b86b8;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #1a93d9 2px;
    text-decoration: none;
  }
  
  .btn2:hover {
    background: #f4f6f7;
    background-image: -webkit-linear-gradient(top, #f4f6f7, #3498db);
    background-image: -moz-linear-gradient(top, #f4f6f7, #3498db);
    background-image: -ms-linear-gradient(top, #f4f6f7, #3498db);
    background-image: -o-linear-gradient(top, #f4f6f7, #3498db);
    background-image: linear-gradient(to bottom, #f4f6f7, #3498db);
    text-decoration: none;
  }
.logo{
    display: inline-block;
    position: relative;
    background-color: papayawhip;
    top: 60px;

}
.logsize{
    display: inline-block;
    width:19%;
}
.skill{
    text-align:right;
    background-color: rgb(94, 93, 93);
    border-radius: 40px;
    width:50%;
    position: relative;
    left:700px;
}
.ui{
    width:95%;
    background-color: #0f67cc;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 40px;
}
.design{
        width: 55%;
        background-color: #0f67cc;
        padding-top:10px;
        padding-bottom: 10px;
        border-radius: 40px;
}
.web{
    width:75%;
    background-color: #0f67cc;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 40px;

}
.secdiv{
   position: relative;
   top:100px;
   width:100%;
   line-height: 60px;
   text-align: center;

}
.touch{
    width: 35%;
    height: 9%;
    float: right;
    border-radius: 100%;
}
.trddiv{
    margin-top:250px;
    text-align: center;
}
.arrow1{
    border-radius: 50px;
    background-color: #000000;
     float: right;
    width: 50px;
    height: 50px;
    rotate:180deg;
}

.arrow2{
    position: relative;
    border-radius:50px;
    width: 50px;
    height: 50px;
    float:right;
    background-color: blue;
    rotate: 180;
    
}
.step{
    width: 80%;
    margin-left: 15%;
   
}
.UI{
    margin-top: 50px;
    display: inline-block;
    color:white;
    border-radius: 40px;
    background-color: rgb(9, 73, 191);
    width:306px;
    height: 300px;
    padding: 15px;
   
   
    
}
.second{
    margin-top: 50px;
    display: inline-block;
    color:rgb(19, 18, 18);
    border-radius: 40px;
    border:1px solid blue;
    width:306px;
    height: 300px;
    margin-left: 4px;
    padding: 15px;
   
}
.third{
    margin-top: 50px;
    display: inline-block;
    color:rgb(19, 18, 18);
    border-radius: 40px;
    border:1px solid blue;
    width:306px;
    margin-left: 4px;
    height: 300px;
    padding: 15px;
}
.container{
    width: 99%;
    position: relative;
    top:200px;
    padding:30px;
    background-color: rgb(9, 73, 191);
    color:white;
    text-align: center;
    left:3px;
    
}

.one{
    position: relative;
    left:30px;
    width:200px;
    height: 150px;
    background-color: white;
    color: rgb(61, 58, 58);
    padding:30px;
    border-radius: 30px;
    display:inline-block;
    line-height: 20px;
    
}

.two{
    position: relative;
    left:30px;
    width:200px;
    height: 150px;
    background-color: white;
    color: rgb(61, 58, 58);
    padding:30px;
    border-radius: 30px;
    display:inline-block;
    line-height: 20px;


}
.three{
    position: relative;
    left:30px;
    width:200px;
    height: 150px;
    background-color: white;
    color: rgb(61, 58, 58);
    padding:30px;
    border-radius: 30px;
    display:inline-block;
    line-height: 20px;
}
.four{
    position: relative;
    left:30px;
    width:200px;
    height: 150px;
    background-color: white;
    color: rgb(61, 58, 58);
    padding:30px;
    border-radius: 30px;
    display:inline-block;
    line-height: 20px;
}









@media (max-width: 952px)
{
    label.cls1{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width :858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2e2e2e;
        left :100%;
        text-align: center;
        top: 80px;
        transition: all.5s;

    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav  ul li a{
        font-size:20px ;
    }
    #check:checked ~ ul{
        left:0;

    }
    .dp{
        width: 50%;
        float: none;
        
    }
    .fistdiv{
        display: block;
    }
    .logo{
        background-color: white;
        margin-top:400px;
        padding: 15%;
        display: block;
    .logsize{
        
        width:90%;
    }
    .touch{
        float:none;
        width: 100%;
       
    }
    .secdiv{
        width: 100%;
        display: block;
        text-align: center;
    }
    .container
    {
        display: block;
        position: relative;
      
    }
  
    
    
    
    
}
section{
    background-size: cover;
    height: calc(100vh - 80px);
}